aria2p
pyrogram
pymongo
motor
shortzy
requests
bs4
tgcrypto
uvloop
aiohttp
aiofiles
pyrofork==2.2.11
python-dotenv
gent
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
